:root {
  --dark-blue: #060417;
  --main-color: #a993fe;
  --main-color-variant: #7e61e7;
}
/* Importar fontes "SF Pro" & "Titillium" */
@import url("https://fonts.googleapis.com/css2?family=San+Francisco&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
/* Reset de Paddings e Margens */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Estilização cabeçalho*/
#header {
  background: rgba(0, 0, 0, 0.1);
  padding: 0.5rem 0;
  position: sticky;
  top: 0;
  z-index: 30;
}
#nome {
  font-family: "Titillium Web", monospace;
  color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
span {
  line-height: 1;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  margin: 0 auto;
}

#navbar ul {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  list-style-type: none;
}

#navbar li {
  margin: 0 1.5rem;
}

#navbar a {
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  color: #fff;
  position: relative;
  cursor: pointer;
}

#navbar a::before {
  content: " ";
  width: 2rem;
  height: 0.2rem;
  background: linear-gradient(
    90deg,
    var(--main-color) 0%,
    var(--main-color-variant) 100%
  );
  border-radius: 0.5rem;
  position: absolute;
  bottom: -0.6rem;
  opacity: 0;
  transform: translateX(-1.5rem);
  transition: all 0.3s ease;
}
#navbar a:hover::before {
  width: 100%;
  transform: translateX(0);
  opacity: 1;
}
#btn-contato {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
#btn-contato:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
#btn-contato:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}
#btn-contato:hover {
  color: var(--main-color);
  background: #000;
  outline: 1.5px solid var(--main-color);
  box-shadow: rgba(126, 97, 231, 0.9) 0px 54px 55px,
    rgba(126, 97, 231, 0.9) 0px -12px 30px, rgba(126, 97, 231, 0.9) 0px 4px 6px,
    rgba(126, 97, 231, 0.9) 0px 12px 13px, rgba(126, 97, 231, 0.9) 0px -3px 5px;
}

#menu-btn {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0.4rem;
  color: #fff;
  background: linear-gradient(
    90deg,
    var(--main-color) -0.13%,
    var(--main-color-variant) 99.87%
  );
  line-height: 0;
  cursor: pointer;
  transition: all 0.4s ease;
  display: none;
}

#menu-btn:hover {
  color: var(--main-color);
  background-color: #000;
  border: 1px solid var(--main-color);
}

/* Mobile navbar */
.mobile-menu {
  width: 100%;
  height: 100vh;
  display: none;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.3s ease, opacity 0.3s ease; /* Adicione a propriedade opacity na transição */
}

.mobile-menu-container {
  width: 80%;
  height: 100%;
  background-color: rgba(52, 40, 100, 0.9);
  padding: 2rem;
  box-sizing: border-box;
}

.mobile-menu.active {
  display: block;
  transform: translateX(0);
  opacity: 1;
}

.mobile-menu ul {
  list-style: none;
  padding: 10px;
  text-align: center;
}
.mobile-menu #btn-contato {
  list-style: none;
  padding: 10px;
  text-align: center;
  align-items: center;
  margin: 0 auto;
}

.mobile-menu li {
  margin-bottom: 1rem;
}

.mobile-menu a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  transition: color 0.3s ease;
  font-size: 1.5rem;
}

.mobile-menu a:hover {
  color: var(--main-color);
}

/* media query desktop e mobile  */
@media (max-width: 425px) {
  #nome {
    font-size: 1.5rem;
  }
}
@media (max-width: 769px) {
  #menu-btn {
    display: block;
  }
  #navbar.mobile-menu ul {
    display: block;
  }

  #navbar ul {
    display: none;
  }
}
@media (max-width: 1325px) {
  #navbar {
    padding: 0 2rem;
  }
}
@media (max-width: 769px) {
  .mobile-menu {
    display: none;
  }
}

/* Estilização Body */
body {
  font-family: "Titillium Web", monospace;
  background-color: #060417;
  color: white;
  display: block;
  align-items: center;
  margin: 0 auto;
  max-width: 1100px;
  width: 80%;
}
